
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: $base-background-color;
    box-sizing: border-box;
    color: $base-text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
}

body,
html {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}
