
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { 
    // font-family: $heading-font-family;
    // font-weight: $heading-font-weight;
    line-height: normal;
    margin: 0;
}

h1, .h1 {
    font-size: 400%;
}

h2, .h2 {
    font-size: 250%;
}

h3, .h3 {
    font-size: 200%;
}

h4, .h4 {
    font-size: 180%;
}

h5, .h5 {
    font-size: 130%;
}

h6, .h6 {
    font-size: 100%;
}

i, em, .italic {
    font-style: italic;
}

b, strong, .bold {
    font-weight: bold;
}
